<section class="email-capture bg-background py-24 ">
  <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flow validate" target="_blank">
      <h2>Sign up to receive news and notifications about exhibitions</h2>
      <div class="flex form mt-20">
        <div class="mr-6">
          <label for="mce-NAME" class="block">Name:</label>
          <input type="text" name="NAME" class="form-input text mt-2" id="mce-NAME" value="" placeholder="Jim">
        </div>
        <div class="mr-6">
          <label for="mce-EMAIL"class="block">Email:</label>
          <input type="email" name="EMAIL" class="required email form-input mt-2" id="mce-EMAIL" value="" placeholder="jim@jimgrundy.co.uk" required="">
        </div>
        <div id="mce-responses">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
          <input type="text" name="b_88fa2cf1725fc94b694967987_7303fa13bc" tabindex="-1" value="">
        </div>
        <div>
          <label class="block" for="subscribe">Subscribe</label>
          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button-submit mt-2" value="Sign up">
        </div>
      </div>
  </form>
</section>
