<header class="h-20 md:h-36 mx-2 md:mx-24 ">
  <nav class="flex items-center justify-between h-full">
    <a href="/">
      <h1 class="text-3xl">{{ site.Title }}</h1>
    </a>
    <ul class="md:flex">
      {{ range .Site.Menus.main }}
        <li class="mx-3 first:ml-0 last:mr-0">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
    <button aria-expanded="false" class="burger">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </button>
  </nav>
</header>

