{{ define "main" }}
  <h1 class="sm:mx-16 mx-2 md:mx-24 text-3xl font-medium">{{ .Title }}</h1>
  <section class="mx-2 sm:mx-16 md:mx-24 md:flex mt-28">
    <div class="md:w-6/12 md:mr-12 text-base sm:text-xl lg:text-2xl md:flex md:flex-col md:justify-end flow">
      <div class="flow">
        <p>
          {{ .Params.intro | markdownify }}
        </p>
      </div>
      <div class="mt-16 md:mt-32 flex flex-col flow">
        <h3 class="font-medium">Read more</h3>
        <a class="page-link">RiseArt: An Interview with Jim Grundy</a>
        <a class="page-link" href="">Artist in Focus: Jim Grundy</a>
      </div>
    </div>
    {{ $portrait := resources.Get "images/portrait-jim.jpg" }}
    <img src="{{ $portrait.RelPermalink }}" class="sm:w-3/4 lg:w-1/2 object-cover mt-16 md:mt-0 min-h-[350px] max-h-[650px]" alt="Portrait of Jim">
  </section>
  <section class=" bg-background py-24 my-24">
    <div class="md:grid grid-cols-2 gap-12 mx-2 sm:mx-16 md:mx-24 text-base sm:text-xl md:text-2xl" id="about-content">
      {{ with .Content }}
        {{ . }}
      {{ end }}
    </div>
  </section>
  <section class="flex mx-2 justify-center">
     {{ $image := resources.Get "images/about.jpg" }}
      <img src="{{ $image.RelPermalink }}" class="md:w-2/4 object-cover" alt="Jim with painting">
  </section>
{{ end }}
