{{ define "main" }}
  <h1 class="md:mx-24 text-3xl font-medium">{{ .Title }}</h1>
  <section class="md:mx-24 md:flex mt-28">
    <div class="w-6/12 md:mr-12 text-base md:text-2xl md:flex md:flex-col md:justify-end flow">
      {{ .Content }}
      <div class="mt-32 flex flex-col flow">
        <h3 class="font-medium">Read more</h3>
        <a class="page-link">RiseArt: An Interview with Jim Grundy</a>
        <a class="page-link" href="">Artist in Focus: Jim Grundy</a>
      </div>
    </div>
    {{ $portrait := resources.Get "images/portrait-jim.jpg" }}
    <img src="{{ $portrait.RelPermalink }}" class="sm:w-3/4 lg:w-1/2 object-cover max-h-[650px]" alt="Portrait of Jim">
  </section>
  <section>
  </section>
{{ end }}
