{{ define "main" }}
  <h1 class="sm:mx-16 mx-2 md:mx-24 text-3xl font-medium">{{ .Title }}</h1>
  <section class="mx-2 sm:mx-16 md:mx-24 mt-28">
    <div class="text-base sm:text-xl md:text-2xl flow font-extralight" id="contact-links">
      {{ with .Content }}
        {{ . }}
      {{ end }}
    </div>
  </section>
  <section class="sm:mx-16 md:mx-24 mt-28 flex mx-2 justify-center">
    {{ $image := resources.Get "images/jim-studio.jpg" }}
    <img src="{{ $image.RelPermalink }}" class="w-7/12 md:w-7/12 my-16 md:my-32 object-cover" alt="Jim in studio">
  </section>
   {{ partial "email-capture.html" . }}
{{ end }}
