{{ define "main" }}
  <h1 class="mx-2 md:mx-24 text-3xl font-medium">{{ .Title }}</h1>
  <section class="mx-2 md:mx-24 mt-28">
    <div class="mb-32">
      {{ $cobogo := site.GetPage "paintings/cobogo" }}
      {{ if $cobogo }}
        <div class="sm:w-3/4 lg:w-1/2 font-extralight">
          <h3 class="text-3xl font-medium">{{ $cobogo.Title }}</h3>
          <p class="text-3xl font-extralight">{{ $cobogo.Params.year }}</p>
          <p class="text-base sm:text-xl md:text-2xl mt-4">{{ $cobogo.Params.description }}</p>
        </div>
        <div data-layout="33x3" class="cugrid mt-24">
          {{ range $cobogo.Pages.ByDate }}
            <a href="{{ .Permalink }}" id="text-hover">
              <div class="painting">
                {{ $image := resources.Get .Params.image }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}"> <!-- Painting image -->
                <h3 class="font-extralight text-lg md:text-xl mt-4">{{ .Title }}</h3>
                <p class="font-extralight text-lg md:text-xl mt-4 hidden">{{ .Description }}</p>
              </div>
            </a>
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="mb-32">
      {{ $south_beach := site.GetPage "paintings/south_beach" }}
      {{ if $south_beach }}
        <div class="sm:w-3/4 lg:w-1/2 font-extralight">
          <h3 class="text-3xl font-medium">{{ $south_beach.Title }}</h3>
          <p class="text-3xl font-extralight">{{ $south_beach.Params.year }}</p>
          <p class="text-base sm:text-xl md:text-2xl mt-4">{{ $south_beach.Params.description }}</p>
        </div>
        <div data-layout="33x3" class="cugrid mt-24">
          {{ range $south_beach.Pages.ByDate }}
          <a href="{{ .Permalink }}" id="text-hover">
            <div class="painting">
              {{ $image := resources.Get .Params.image }}
              <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}"> <!-- Painting image -->
              <h3 class="font-extralight text-lg md:text-xl mt-4">{{ .Title }}</h3>
              <p class="font-extralight text-lg md:text-xl mt-4 hidden">{{ .Description }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="mb-32">
      {{ $marine_parade := site.GetPage "paintings/marine_parade" }}
      {{ if $marine_parade }}
        <div class="sm:w-3/4 lg:w-1/2 font-extralight">
          <h3 class="text-3xl font-medium">{{ $marine_parade.Title }}</h3>
          <p class="text-3xl font-extralight">{{ $marine_parade.Params.year }}</p>
          <p class="text-base sm:text-xl md:text-2xl mt-4">{{ $marine_parade.Params.description }}</p>
        </div>
        <div data-layout="33x3" class="cugrid mt-24">
          {{ range $marine_parade.Pages.ByDate }}
          <a href="{{ .Permalink }}" id="text-hover">
            <div class="painting">
              {{ $image := resources.Get .Params.image }}
              <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}"> <!-- Painting image -->
              <h3 class="font-extralight text-lg md:text-xl mt-4">{{ .Title }}</h3>
              <p class="font-extralight text-lg md:text-xl mt-4 hidden">{{ .Description }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="mb-32">
      {{ $figures := site.GetPage "paintings/figures" }}
      {{ if $figures }}
        <div class="sm:w-3/4 lg:w-1/2 font-extralight">
          <h3 class="text-3xl font-medium">{{ $figures.Title }}</h3>
          <p class="text-3xl font-extralight">{{ $figures.Params.year }}</p>
          <p class="text-base sm:text-xl md:text-2xl mt-4">{{ $figures.Params.description }}</p>
        </div>
        <div data-layout="33x3" class="cugrid mt-24">
          {{ range $figures.Pages.ByDate }}
          <a href="{{ .Permalink }}" id="text-hover">
            <div class="painting">
              {{ $image := resources.Get .Params.image }}
              <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}"> <!-- Painting image -->
              <h3 class="font-extralight text-lg md:text-xl mt-4">{{ .Title }}</h3>
              <p class="font-extralight text-lg md:text-xl mt-4 hidden">{{ .Description }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="flex items-center">
      <a href="#" class="text-3xl">Explore More</a>
      <img src="/images/arrow_forward.svg" class="h-full" alt="">
    </div>
  </section>
{{ end }}



