:root {
  --color-dark: #050923;
  --color-body: #F2F5EA;
  --color-accent: #00AAB5;
  --color-input: #D9D9D9;
  --color-button: #19503F;
  --color-white: #fff;
  --color-highlight: #F6F6F6;
  --color-background: #F5FDFC;
}
