:root {
  --color-dark: #050923;
  --color-body: #F2F5EA;
  --color-accent: #00AAB5;
  --color-input: #D9D9D9;
  --color-button: #19503F;
  --color-white: #fff;
  --color-highlight: #F6F6F6;
  --color-background: #F5FDFC;

  /* Grid */
  --gutter: var(--space-s-m);
  /* Effects */
  --border-radius: 0; // Set a rem value to add border radius to buttons, form elements, cards, callouts and accordians. 
  --shadow: 0px 3px 7px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.025);
}
