@import "abstracts/index.scss";
@import "components/index.scss";
@import "overide/index.scss";

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default list style */
ul[class],
ol[class] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}

body {
  color: #000;
  font-family: var(--font-base);
  font-size: var(--font-size-md);
  font-weight: 400;
}
