.burger div {
  width: 25px;
  height: 3px;
  background-color: #222;
  margin: 5px;
  transition: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.toggle .line-1 {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #000;
}

.toggle .line-2 {
  opacity: 0;
  background-color: #000;
}

.toggle .line-3 {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: #000;
}

.burger {
  z-index: 10;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
