.offscreen-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  background-color: #fff;
  z-index: 5;
  transition: .2s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  font-weight: 300;
}

.offscreen-nav.open {
  transform: translateY(0vh);
}

.offscreen-nav-links {
  line-height: var(--line-height-lg);

  li:hover {
    background-color: var(--color-highlight);
  }
}
